# Ignore all files
*

# But not these file types

# Altium stuff
!*.RUL
!*.SchLib
!*.PcbLib

# Eagle stuff
!*.lbr
!*.dru
!*.cam

# KiCAD stuff
!*.kicad_mod
!*.sldprt
!*.sldasm
!*.step
!*.kicad-wks
!*.kicad_sym
!*.kicad_wks

# Solidworks sheet format
!*.slddrt

# Images
!*.svg
!*.png
!*.jpg

# This file
!.gitignore

# ... even if they are in subdirs
!*/


